/* body{
    overflow: hidden;
} */
body::-webkit-scrollbar {
  display: none;
}
.header-bgc{
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: rgba(13, 13, 13, .9);
    justify-content: space-between;
    align-items: center;
    z-index: 994; 
}

.page-regular{  
  padding-right: 0;
  position: relative;
  max-width: 580px;
  width: 580px;
  height: 100vh;
  background: rgba(13, 13, 13);
  flex-shrink: 0;
}
.left-nav{
display: flex;
position: fixed;
z-index: 20;
}

.content-page{
  position: sticky;
  top: 0; 
  flex-grow: 1;
}



@media (min-width: 1200px){
  .content-page{
    padding: 0px 0px 0px 580px;
  }
  .link1{
    color: #000;
  }
  .hamburger1{
    background-color: #ececec;
  }
  .box{
    background-color: #ececec;
  }
  .menu2{
    color: #000;
    border: 2px solid #000000;
  }
  .menu1{
    background-color: #ececec;
  }
}
@media (max-width: 1199px){
  .left-nav{
    display: none;
  }
  .link1{
    color: #fff;
  }
  .hamburger1{
    background-color: #000;
  }
  .box{
    background-color: #000;
  }
  .menu2{
    color: #ffffff;
    border: 2px solid #ffffff;
  }
  .menu1{
    background-color: #000000;
  }
  /* .content-page{
    padding: 120px 25px 0px 25px;

  } */
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
.snip1155 {
font-family: 'Raleway', Arial, sans-serif;
text-align: center;
text-transform: uppercase;
font-weight: 500;
font-size: 25px;
margin-top: 120px;
padding-right: 40px;
display: flex;
flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
text-align: center;
height: 80vh;
}
.snip1155 * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}
.snip1155 li {
display: flex;
list-style: outside none none;
margin: 0 2em;
padding: 0;
height: 100vh;
align-items: center;
}
.snip1155 a {
display: inline-block;
padding: 0.5em 37px;
color: rgba(255, 255, 255, 0.5);
position: relative;
letter-spacing: 1px;
text-decoration: none;
}
.snip1155 a:before {
left: 20%;
right: 20%;
top: 50%;
content: '';
border-left: 32px solid #9b59b6;
border-right: 32px solid #9b59b6;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
height: 4px;
opacity: 0;
position: absolute;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}
.snip1155 a:hover,
.snip1155 .current a {
padding: 0em 47px;
color: #ffffff;
}
.snip1155 a:hover:before,
.snip1155 .current a:before {
left: 0;
right: 0;
opacity: 1;
}

.header-right{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
.header-centert{
    display: flex;
    justify-content: center;
}
.header-left{
    display: flex;
    padding: 20px;
}
.icon-header{
    width: 65px;
    height: 65px;
}
.language{
  display: flex;
  justify-content: center;
  padding-right: 25px;
}
.lang-list{
    display: flex;
    text-align: center;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.lang-list-menu{
    display: flex;
    text-align: center;
    list-style: none;
    padding: 0px 0px 18px 0px;
    justify-content: center;
    margin-top: auto;
}
.lang-item-cz{
    border-right: 1px solid rgba(255, 255, 255, 0.55);
    padding-right: 9px;
}
.lang-item-ua{
  border-right: 1px solid rgba(255, 255, 255, 0.55);
  padding-right: 9px;
  padding-left: 9px;
}
.menu-line{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 475px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
}
.line-none{
  display: none;
}
.lang-item-cz a{
  color: #ffffff;
  text-decoration: none;
}
.lang-item-ua a{
  color: #ffffff;
  opacity: 0.5;
}
.lang-item-eng a{
  color: #ffffff;
  opacity: 0.5;
}
.lang-item-eng{
    padding-left: 10px;
}
img.header-logo{
    max-width: 100%;
    height: auto;
    z-index: 0;
}
.menu-list{
  margin-bottom: 15px;
}
.menu-product{
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  align-items: center;
  border-bottom: 1px dashed rgba(13, 13, 13, 0.3);
}
.block-info{
  display: flex;
  justify-content: space-between;
}

.content-main{
  padding-right: 25px;
  padding-left: 25px;
}
.page-title{
  font-size: 42px;
  line-height: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgba(13, 13, 13, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.menu-title{
  background: #ececec;
  padding: 17px 30px;
  color: #1a1a1a;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.menu-product-price{
  padding-left: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: right;
}
.menu-product-image{
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
  margin-right: 20px;
  object-fit: cover;
}
label{
  margin-bottom: -10px;
  margin-top: -10px;
}

@media (max-width: 767px) {
  .content-main{
    padding-right: 15px;
    padding-left: 15px;
  }
  .menu-product{
    display: block;
  }
  .block-info{
    display: block;
  }
  .d-flex{
    display: block;
  }
  .page-title{
    font-size: 33px;
    line-height: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgba(13, 13, 13, 1);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .menu-title{
    background: #FAF6ED;
    padding: 17px 30px;
    color: #1a1a1a;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  .menu-product-title{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #1a1a1a;
    text-align: center;
  }
  .menu-product-price{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 0;
    margin-top: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .menu-product-image{
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
  }
}

img{
    /* max-width: 100%; */
    height: auto;
}
/* menu-list */

a {
  color: #fff;
  text-decoration: none;
}

a.menu-product-title:visited {
  color: #1a1a1a;
}

.p-menu1{
   height: 100%;
}
.hamburger1{
	display: flex;
	/* justify-content: center; */
  /* padding-top: 130px; */
  /* background-color: #ececec */
  /* padding-bottom: 30px; */
}
.box{
  width: 100%;
  height: 130px;
  /* background-color: #ececec; */
}
.menu2{
	padding: 10px 60px 10px 60px;
	/* border: 1px solid #000000; */
  /* color: #000000; */
	display: flex;
	margin: 5px auto 30px auto;
	justify-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

#toggle1 {
  display: none;
}

#toggle1:checked ~ .menu1 {
  height: 340px;
}
/* Menu */

.menu1 {
  width: 100%;
  /* margin-top: 50px; */
  /* margin: 0; */
  display: -ms-grid;
  display: grid;
  /* grid-template-rows: 1fr repeat(4, 0.5fr); */
  /* grid-row-gap: 25px; */
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  /* margin-top: 15px; */
  /* #FAF6ED   */
}

.menu1 a:last-child {
  /* margin-bottom: 40px; */
}

.link1 {
  width: 100%;
  margin: 0;
  /* color: #000; */
  /* padding: 10px 0; */
  font: 700 20px 'Oswald', sans-serif;
}

.link1:hover {
  background-color: #ececec;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


@media (min-width: 1024px){
  .header-left{
    padding-left: 30px;
  }
}
  /* dt */
  .menu__icon {
    display: none;
  }

  .menu__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 999;
    cursor: pointer;
  }
  .menu__icon span {
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .menu__icon span:first-child {
    top: 0;
  }
  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu__icon.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu__icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu__icon.active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
  }


@media (max-width: 900px) {
  .language{
    display: none;
  }
}
@media (min-width: 901px){
  .lang-list-menu{
    display: none;
  }
}
.menu__body.active {
  left: 0;
}

.menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-top: 4em;
}


  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    height: 100%;
    width: 555px;
    background-color: #1a1a1a;
    overflow: auto;
    left: 100%; 
  }


.menu__link {
  color: #fff;
  text-decoration: none;
  display: block;
    font-size: 30px;
    line-height: 70px;
}
.menu__link.menu_cont{
  font-size: 20px;
}

.menu__link:hover {
  color: #fff;
  text-decoration: underline;
}
@media (max-width: 1023px){
  .menu__body{
    left: -150%;
  }
}
@media (max-width: 667px){
.menu__list{
  width: 90%;
  }
  .menu-line{
    width: 90%;
  }
}

.btn-up {
  position: fixed;
  background-color: #2b343c;
  right: 20px;
  bottom: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  z-index: 1000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background-color: #1e262a;
  }
}

@media screen and (max-width: 500px){
  .icon-header{
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 470px){
  .icon-header{
    width: 55px;
    height: 55px;
  }
}
@media screen and (max-width: 440px){
  .icon-header{
    width: 53px;
    height: 53px;
  }

}
@media screen and (max-width: 425px){
  .icon-header{
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 405px){
  .icon-header{
    width: 42px;
    height: 42px;
  }
  
}